html {
  height: 100%;

}

body {
  /*background: linear-gradient(135deg ,#5bcaff, #55efcb);*/
  background: #5bcaff;
  background-size: 100% 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  /*-webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  */
}

@media only screen and (min-width : 320px) and (max-width : 800px) {
  /* For mobile phones: */
  h1 {
    font-size: 5em;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width : 800px) {
  /* For mobile phones: */
  h1 {
    font-size: 10em;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .button:hover {
    cursor: pointer;
    color: #5bcaff;
  }
  
  .button:hover:after {
    left: -10%;
    width: 120%;
  }

}
/*
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
 }
  
 .fade-in.one {
 -webkit-animation-delay: 0.0s;
 -moz-animation-delay: 0.0s;
 animation-delay: 0.0s;
 }
  
 .fade-in.two {
 -webkit-animation-delay: 0.5s;
 -moz-animation-delay: 0.5s;
 animation-delay: 0.5s;
 }
 
 .fade-in.three {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
  } 

.fade-in.four {
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay:2.0s;
  animation-delay: 2.0s;
  } 

h1 {
  text-align: center;
  color: #FFFFFF;
}

p.medium {
  text-align: center;
  color: #FFFFFF;
  font-size: 2em;
  margin: 0 auto;

}

p.small {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  font-size: 1em;
  margin: 0 auto;

}

p.right {
  font-size: 1.5em;
  color: #FFFFFF;
  text-align: right;
}

p.weirdness {
  font-size: 1.5em;
  color: #FFFFFF;
  text-align: center;
}

p.weirdness-value {
  color: #5bcaff;
  margin: 0 auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  max-width: 150px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */  
}

.container {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60em;
  max-width: 300px;
  margin: 0 auto;
}

.button {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
color: #f7f7f7;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 20px;
padding: 20px;
border: 2px solid #f7f7f7;
text-align: center;
font-size: 1.5em;
text-transform: lowercase;
position: relative;
overflow: hidden;
-webkit-transition: .3s;
transition: .3s;
}

.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
  }

#range {
  margin: 0 auto;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 10px;
  border: 0;
  background: #FFFFFF;
  outline: none;
}
#range .noUi-handle {
  position: absolute;
  border-radius: 100%;
  background: #fff;
  border: 2px solid #f7f7f7;
  height: 25px;
  width: 25px;
  outline: none;
  cursor: pointer;
}

#range .ui-slider-range {
  background: #FFFFFF;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            rgb(255, 255, 255);
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            #fff;
  }  
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  color:            #fff;
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  color: white;
  } 

.noUi-pips {
  color: #ffffff;
  font-size: 1em;
}

.noUi-marker {
  background: #ffffff;
}

.noUi-value {
  margin-top: 10px;
  color: #5bcaff;
}